.conteiner {
    margin: 0px;
    background-color: burlywood;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 40px 50px 160px 140px 40px 500px 60px;
    }
    .navegador {
        background-color: rgb(83, 47, 19);
        grid-column: 1/6;
    }
    .conteinerList {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        list-style: none;
    }
    .navegadorItem {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-family: 
    }
    .ramas {
        display: flex;
        background-color: black;
        grid-column: 1/6;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
    }
    .rama {
        color: white;
    }
    .titulo1 {
        display: flex;
        grid-column: 1/6;
        grid-row: 3/4;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .titulo {
        text-decoration: overline underline;
        margin-left: 3px;
    }
    .localidades {
        display: flex;
        grid-column: 1/3;
        grid-row: 4/5;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        display: inline;
        margin-left: 3px;
    }
    .horario {
        display: flex;
        grid-column: 1/4;
        grid-row: 5/6;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap;
    }    
    .horarios {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        margin-left: 3px;
    }
    .consulta {
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 6/7;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        text-decoration: underline;
    }
    .mapas {
        display: flex;
        grid-column: 1/4;
        grid-row: 7/8;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap;
    }
    .maps {
        border-radius: 5%;
        border: black 3px solid;
        margin-left: 3px;
    }
    .piePagina {
        display: flex;
        grid-column: 1/6;
        grid-row: 8/9;
        justify-content: start;
        align-items: center;
        background-color: rgb(83, 47, 19);
        flex-wrap: nowrap;
    }
    .logoWsp {
        height: 35px;
    }
    .logoIg {
        height: 35px;
    }
    .logoFcb {
        height: 50px;
        position: relative;
        top: 7px;
    }
    .infoRedes {
        position: relative;
        bottom: 12px;
    }